/*
G&T palette
cream: #ecece4;
orange: #f56846;
dark-gray: #1f3a3a;
magenta: #cb3c81;
lavender: #9a9bbc;
peach: #f58985;
mustard: #ccc36c;
pink: #e99bbc;
light-blue: #c0d1d4;

neon-pink: #f85158;
teal: #5dbcd2;




*/
body {
  /*background-color: #f85158;*/
  background-color: #ecece4;
  height: 100%;
  color: #1f3a3a;
}

.App {
  text-align: center;
  /*width: 500px;*/
  margin: 20px;
  background-color: white;
  margin-top: 10%;
  padding: 10px;
  box-shadow: 5px -2px #ecece4, -5px -5px #f85158, 6px 8px #c0d1d4, -14px 8px #f56846, -15px 5px #9a9bbc, 15px 10px #ccc36c, 20px -10px #f58985, -8px 2px #ecece4, 6px 20px #e99bbc, 30px 40px #f85158;
}

/*.App:hover {
  box-shadow: 5px -2px #ecece4, -10px -10px #f85158, 12px 16px #c0d1d4, -28px 15px #f56846, -32px 10px #9a9bbc, 30px 20px #ccc36c, 50px -20px #f58985, -15px 2px #ecece4, -15px 40px #e99bbc, 60px 70px #f85158;
}*/

input {
  font-size: 24px;
  border: none;
  border-bottom: 1px solid #5dbcd2;
  margin-bottom: 1px;
}

input:focus {
  border-bottom: 2px solid #5dbcd2;
  margin-bottom: 0;
}

input[name=request],
input[name=order],
input[name=name],
input[name=quantity] {
  width: 100%;
}

label {
  display: block;
}

button[type=submit] {
  font-size: 16px;
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 1px;
  display: inline-block;
  border: 1px solid #5dbcd2;
  background-color: white;
  padding: 5px;
  border-radius: 4px;
}

button[type=submit]:hover {
  /*background-color: #c0d1d4;*/
  margin-top: 11px;
  margin-bottom: 0;
  cursor: pointer;
  color: black;
  border: 2px solid #5dbcd2;
}

form header {
  margin-bottom: 20px;
}

.copy-share-link {
  font-size: 12px;
}

.messages {
  color: #abcdef;
}

@media (min-width: 360px) {
  .App {
    padding: 80px;
    margin: 10% auto auto;
    width: 50vw;
    box-shadow: 5px -2px #ecece4, -10px -10px #f85158, 12px 16px #c0d1d4, -28px 15px #f56846, -35px 6px #9a9bbc, 30px 20px #ccc36c, 50px -20px #f58985, -15px 2px #ecece4, -15px 40px #e99bbc, 60px 70px #f85158;
  }

  form {
    width: 100%;
    margin: auto;
  }

  input[name=quantity] {
    width: 50px;
  }

  input[name=request] {
    width: inherit;
  }

  input[name=order] {
    width: 265px;
    margin-left: 5px;
  }

  input[name=name] {
    width: inherit;
    margin-left: 8px;
  }
}
