/*
G&T palette
cream: #ecece4;
orange: #f56846;
dark-gray: #1f3a3a;
magenta: #cb3c81;
lavender: #9a9bbc;
peach: #f58985;
mustard: #ccc36c;
pink: #e99bbc;
light-blue: #c0d1d4;

neon-pink: #f85158;
teal: #5dbcd2;



Yellow/purple eggplant illo
gold: #f2c208;
purple: #8950cc;
brown: #90450d;
beige: #f7f2ed;


Coco
gold: #efc10b;
brown: #4b1d09;
off-white: #f4f3f3;


*/
* {
  box-sizing: border-box;
}

body {
  /*background-color: #f85158;*/
  background-color: #f4f3f3;
  height: 100vh;
  color: #4b1d09;
}

.App {
  min-height: 80vh;
  display: flex;
  min-width: 0;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  margin: 0 auto 30px;
}

.App-logo {
  padding: 10px;
  height: 20vmin;
}

.logos {
  text-align: center;
}

.group-logo {
  height: 30vmin;
  padding-top: 20px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

form {
  max-width: 400px;
}

input,
select {
  font-size: 24px;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 3px;
  border-radius: 4px;
  background-color: white;
  max-width: 400px;
}

input,
textarea {
  width: 100%;
}

textarea {
  height: 3em;
  font-size: 24px;
  resize: vertical;
}

textarea.line-item-additional-info {
  font-size: 13px;
}

label {
  display: block;
}

button[type=submit] {
  flex-shrink: 0;
  font-size: 20px;
  background-color: #efc10b;
  border: none;
  font-weight: bold;
  padding: 15px 0;
  color: #4b1d09;
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
}

button[type=submit]:hover {
  cursor: pointer;
}

.custom button[type=submit] {
  background-color: #f85158;
  color: white;
}

.multi-line-text {
  white-space: pre-line;
}

.quantity-widget {
  text-align: center;
}

span.quantity {
  margin: 0 5px;
}

.invite-type-chooser {
  text-align: center;
}

.invite-type-choice {
  background-color: white;
  border-radius: 30px;
  padding-top: 15px;
  margin-bottom: 25px;
}

.invite-type-choice button {
  border-radius: 0 0 30px 30px
}

.order-form {
  text-align: center;
  /* Room for cart */
  margin-bottom: 45px;
}

.order-form-header {
  margin-bottom: 20px;
  text-align: center;
}

.order-form-header button {
  font-size: 14px;
}

.order-form .item {
  border: 1px solid #ccc;
  background-color: white;
  margin-bottom: 10px;
  padding: 10px;
}

.order-form .item-price {
  float: right;
}

button.item-header {
  text-align: left;
  width: 100%;
  border: none;
  background-color: white;
  padding: 10px 0;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.item button[type=submit] {
  font-size: 14px;
  padding: 5px;
  flex-grow: 1;
  width: inherit;
  margin-top: 0;
  margin-left: 10px;
}

.add-to-cart-wrapper {
  display: flex;
  margin-top: 10px;
}

.copy-share-link {
  font-size: 12px;
}

.invite-copy-emoji {
  font-size: 34px;
}

.invite-type-emoji {
  font-size: 134px;
}

p.description {
  margin-top: 0;
  font-style: italic;
  font-size: 12px;
}

.cart-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f58985;
  opacity: 0.9;
}

.cart {
  max-width: 400px;
  margin: 10px auto;
}

.cart-header {
  display: inline;
}

.cart button {
  margin-left: 20px;
}

.checkout button[type=submit] {
  background-color: #f58985;
}

.line-item .price {
  position: absolute;
  top: 0;
  right: 0;
}

.line-item {
  position: relative;
  padding-right: 50px;
  margin-bottom: 10px;
}
