/*
G&T palette
cream: #ecece4;
orange: #f56846;
dark-gray: #1f3a3a;
magenta: #cb3c81;
lavender: #9a9bbc;
peach: #f58985;
mustard: #ccc36c;
pink: #e99bbc;
light-blue: #c0d1d4;

neon-pink: #f85158;
teal: #5dbcd2;



Yellow/purple eggplant illo
gold: #f2c208;
purple: #8950cc;
brown: #90450d;
beige: #f7f2ed;


Coco
gold: #efc10b;
brown: #4b1d09;
off-white: #f4f3f3;


*/
body {
  /*background-color: #f85158;*/
  background-color: #f4f3f3;
  height: 100vh;
  color: #4b1d09;
}

.App {
  /*text-align: center;
  border-radius: 50px;
  border: 10px solid #efc10b;
  margin: 20px;
  background-color: white;
  margin-top: 20px;
  padding: 10px;*/
  min-height: 80vh;
  display: flex;
  min-width: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  margin: 0 auto 30px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.App-logo {
  /*padding-top: 20px;*/
}

form {
  text-align: center;
  max-width: 400px;
}

input,
select {
  font-size: 24px;
  width: 90vw;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 3px;
  border-radius: 4px;
  background-color: white;
  max-width: 400px;
}

input {
  width: 87vw;
}

label {
  display: block;
}

button[type=submit] {
  flex-shrink: 0;
  font-size: 20px;
  /*background: none;*/
  background-color: #efc10b;
  border: none;
  font-weight: bold;
  padding: 15px 0;
  color: #4b1d09;
  width: 100vw;
  max-width: 400px;
}

button[type=submit]:hover {
  cursor: pointer;
}

form {
  margin: 0 20px;
}

.order-form header {
  margin-bottom: 20px;
  text-align: center;
}

.order-form header button {
  font-size: 14px;
}

.copy-share-link {
  font-size: 12px;
}

.invite-copy-emoji {
  font-size: 34px;
}

.orders {
  text-align: center;
}
